@model ProjetFinalEval.freelance

@{
    ViewBag.Title = "Edit";
    Layout = "~/Views/Shared/_LayoutStablePage1.cshtml";
}

<h2>Edit</h2>




<div class="col-md-12">
    <!-- BEGIN VALIDATION STATES-->
    <div class="portlet light">
        <div class="portlet-title tabbable-line">
            <div class="caption caption-md">
                <i class="icon-globe theme-font hide"></i>
                <span class="caption-subject font-blue-madison bold uppercase">Profile Collaborateur Titulaire</span>
            </div>
            <ul class="nav nav-tabs">
                <li class="active">
                    <a href="#tab_1_1" data-toggle="tab">Personal Info</a>
                </li>
            </ul>
        </div>
        <div class="portlet-body form">
            @using (Html.BeginForm())
            {
                @Html.AntiForgeryToken()

                <div class="form-horizontal">
                    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                    @Html.HiddenFor(model => model.IDFREELANCE)


                    <div class="form-group">
                        @Html.LabelFor(model => model.NOMFL, "Nom", htmlAttributes: new { @class = "control-label col-md-3" })
                        <div class="col-md-4">
                            <div class="input-icon right">
                                <i class="fa"></i>
                                @Html.EditorFor(model => model.NOMFL, new { htmlAttributes = new { @class = "form-control" } })
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        @Html.LabelFor(model => model.PRENOMFL, "Prenom", htmlAttributes: new { @class = "control-label col-md-3" })
                        <div class="col-md-4">
                            <div class="input-icon right">
                                <i class="fa"></i>
                                @Html.EditorFor(model => model.PRENOMFL, new { htmlAttributes = new { @class = "form-control"} })
                            </div>
                        </div>
                    </div><div class="form-group">
    @Html.LabelFor(model => model.TELEPHONE, "Prenom", htmlAttributes: new { @class = "control-label col-md-3" })
    <div class="col-md-4">
        <div class="input-icon right">
            <i class="fa"></i>
            @Html.EditorFor(model => model.TELEPHONE, new { htmlAttributes = new { @class = "form-control" } })
        </div>
    </div>
</div>

                    <div class="form-group">

                        @Html.LabelFor(model => model.EMAILFL, "Email", htmlAttributes: new { @class = "control-label col-md-3" })
                        <div class="col-md-4">
                            <div class="input-group">
                                <span class="input-group-addon">
                                    <i class="fa fa-envelope"></i>
                                </span>
                                @Html.EditorFor(model => model.EMAILFL, new { htmlAttributes = new { @class = "form-control" } })

                            </div>
                        </div>
                    </div>
                    <div class="form-actions">
                        <div class="row">
                            <div class="col-md-offset-3 col-md-9">
                                <button type="submit" class="btn green">Save</button>
                                <a href="@Url.Action("Index")" class="btn default">Retour</a>
                            </div>
                        </div>
                    </div>




                </div>

            }


        </div>
    </div>
</div>





